#include "resource.h"
#define APSTUDIO_READONLY_SYMBOLS

#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#include "afxres.h"
#include "verrsrc.h"

#undef APSTUDIO_READONLY_SYMBOLS

#pragma code_page(65001)

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE 
BEGIN
"resource.h\0"
END
2 TEXTINCLUDE 
BEGIN
"#ifndef APSTUDIO_INVOKED\r\n"
"#include ""targetver.h""\r\n"
"#endif\r\n"
"#include ""afxres.h""\r\n"
"#include ""verrsrc.h""\r\n"
"\0"
END
3 TEXTINCLUDE 
BEGIN
"#define _AFX_NO_OLE_RESOURCES\r\n"
"#define _AFX_NO_TRACKER_RESOURCES\r\n"
"#define _AFX_NO_PROPERTY_RESOURCES\r\n"
"\r\n"
"#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)\r\n"
"LANGUAGE 25, 1\r\n"
"#include ""res\\CouplingAssembly1.rc2""\r\n"
"#include ""l.RUS\\afxres.rc""\r\n"
"#include ""l.RUS\\afxprint.rc""\r\n"
"#endif\r\n"
"\0"
END
#endif

IDR_MAINFRAME           ICON                    "res\\CouplingAssembly1.ico"
IDR_CouplingAssembly1TYPE ICON                    "res\\CouplingAssembly1Doc.ico"

IDR_MAINFRAME           BITMAP                  "res\\Toolbar.bmp"

IDR_MAINFRAME TOOLBAR 16, 15
BEGIN
BUTTON      ID_FILE_NEW
BUTTON      ID_FILE_OPEN
BUTTON      ID_FILE_SAVE
SEPARATOR
BUTTON      ID_EDIT_CUT
BUTTON      ID_EDIT_COPY
BUTTON      ID_EDIT_PASTE
SEPARATOR
BUTTON      ID_FILE_PRINT
BUTTON      ID_APP_ABOUT
END

IDR_MAINFRAME MENU
BEGIN
POPUP "&????"
BEGIN
  MENUITEM "?&??????\tCtrl+N",            ID_FILE_NEW
  MENUITEM "&???????...\tCtrl+O",         ID_FILE_OPEN
  MENUITEM "??&???????\tCtrl+S",          ID_FILE_SAVE
  MENUITEM "????????? &???...",           ID_FILE_SAVE_AS
  MENUITEM SEPARATOR
  MENUITEM "&??????...\tCtrl+P",          ID_FILE_PRINT
  MENUITEM "????&??????????? ????????",   ID_FILE_PRINT_PREVIEW
  MENUITEM "??&??????? ??????...",        ID_FILE_PRINT_SETUP
  MENUITEM SEPARATOR
  MENUITEM "????????? ?????",              ID_FILE_MRU_FILE1, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "?&????",                      ID_APP_EXIT
END
POPUP "&??????"
BEGIN
  MENUITEM "&????????\tCtrl+Z",           ID_EDIT_UNDO
  MENUITEM SEPARATOR
  MENUITEM "?&???????\tCtrl+X",           ID_EDIT_CUT
  MENUITEM "&??????????\tCtrl+C",         ID_EDIT_COPY
  MENUITEM "???&?????\tCtrl+V",           ID_EDIT_PASTE
END
POPUP "&???"
BEGIN
  MENUITEM "&?????? ????????????",        ID_VIEW_TOOLBAR
  MENUITEM "??&???? ?????????",           ID_VIEW_STATUS_BAR
END
POPUP "&???????"
BEGIN
  MENUITEM "&? ????????? CouplingAssembly1...", ID_APP_ABOUT
END
END

IDR_MAINFRAME ACCELERATORS
BEGIN
"N",            ID_FILE_NEW,            VIRTKEY, CONTROL
"O",            ID_FILE_OPEN,           VIRTKEY, CONTROL
"S",            ID_FILE_SAVE,           VIRTKEY, CONTROL
"P",            ID_FILE_PRINT,          VIRTKEY, CONTROL
"Z",            ID_EDIT_UNDO,           VIRTKEY, CONTROL
"X",            ID_EDIT_CUT,            VIRTKEY, CONTROL
"C",            ID_EDIT_COPY,           VIRTKEY, CONTROL
"V",            ID_EDIT_PASTE,          VIRTKEY, CONTROL
VK_BACK,        ID_EDIT_UNDO,           VIRTKEY, ALT
VK_DELETE,      ID_EDIT_CUT,            VIRTKEY, SHIFT
VK_INSERT,      ID_EDIT_COPY,           VIRTKEY, CONTROL
VK_INSERT,      ID_EDIT_PASTE,          VIRTKEY, SHIFT
VK_F6,          ID_NEXT_PANE,           VIRTKEY 
VK_F6,          ID_PREV_PANE,           VIRTKEY, SHIFT
END

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "? ????????? CouplingAssembly1"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
ICON            IDR_MAINFRAME,IDC_STATIC,14,14,21,20
LTEXT           "CouplingAssembly1, ?????? 1.0",IDC_STATIC,42,14,114,8,SS_NOPREFIX
LTEXT           "(C) 2026 ?.",IDC_STATIC,42,26,114,8
DEFPUSHBUTTON   "OK",IDOK,113,41,50,14,WS_GROUP
END
IDD_ASSEMBLY_PARAMS_DLG DIALOGEX 0, 0, 320, 248
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "????????? ??????"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
DEFPUSHBUTTON   "OK",IDOK,209,227,50,14
PUSHBUTTON      "??????",IDCANCEL,263,227,50,14
LTEXT           "??????, ???",IDC_STATIC,14,22,95,8
EDITTEXT        IDC_EDIT_ASSEMBLY_TORQUE,115,20,56,14,ES_AUTOHSCROLL
LTEXT           "?????????? (1 ??? 2)",IDC_STATIC,14,44,95,8
EDITTEXT        IDC_EDIT_ASSEMBLY_EXECUTION,115,42,56,14,ES_AUTOHSCROLL
LTEXT           "??????? ???? 1, ??",IDC_STATIC,14,66,95,8
EDITTEXT        IDC_EDIT_ASSEMBLY_SHAFT1,115,64,56,14,ES_AUTOHSCROLL
LTEXT           "??????? ???? 2, ??",IDC_STATIC,14,88,95,8
EDITTEXT        IDC_EDIT_ASSEMBLY_SHAFT2,115,86,56,14,ES_AUTOHSCROLL
PUSHBUTTON      "?? ???? (????. 21.3.1)",IDC_BTN_ASM_FROM_GOST,14,110,130,14
LTEXT           "L, ?? (????.)",IDC_STATIC,14,132,95,8
EDITTEXT        IDC_EDIT_ASM_DER_L,115,130,56,14,ES_AUTOHSCROLL | ES_READONLY
LTEXT           "D1, ??",IDC_STATIC,14,152,95,8
EDITTEXT        IDC_EDIT_ASM_DER_D1,115,150,56,14,ES_AUTOHSCROLL | ES_READONLY
LTEXT           "n max, ??/???",IDC_STATIC,14,174,95,8
EDITTEXT        IDC_EDIT_ASM_DER_NMAX,115,172,56,14,ES_AUTOHSCROLL | ES_READONLY
LTEXT           "m, ??",IDC_STATIC,190,132,40,8
EDITTEXT        IDC_EDIT_ASM_DER_MASS,235,130,56,14,ES_AUTOHSCROLL | ES_READONLY
LTEXT           "b1, ??",IDC_STATIC,190,152,40,8
EDITTEXT        IDC_EDIT_ASM_DER_B1,235,150,56,14,ES_AUTOHSCROLL | ES_READONLY
LTEXT           "???? L, D1, n_max, m, b1 ??????????? ?? ???? ???????; ?????? ? ???? ? ?? ????.",IDC_STATIC,14,198,290,16
END

IDD_HALFCOUPLING_PARAMS_DLG DIALOGEX 0, 0, 420, 318
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "????????? ?????????"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
DEFPUSHBUTTON   "OK",IDOK,309,297,50,14
PUSHBUTTON      "??????",IDCANCEL,363,297,50,14
PUSHBUTTON      "?? ????",IDC_BTN_HALF_FROM_GOST,14,297,110,14
LTEXT           "d ????, ??",IDC_STATIC,14,22,78,8
EDITTEXT        IDC_EDIT_HALF_BORE,95,20,52,14,ES_AUTOHSCROLL
LTEXT           "D, ??",IDC_STATIC,14,42,78,8
EDITTEXT        IDC_EDIT_HALF_OUTER,95,40,52,14,ES_AUTOHSCROLL
LTEXT           "L1, ??",IDC_STATIC,14,62,78,8
EDITTEXT        IDC_EDIT_HALF_L1,95,60,52,14,ES_AUTOHSCROLL
LTEXT           "l ???????, ??",IDC_STATIC,14,82,78,8
EDITTEXT        IDC_EDIT_HALF_LHUB,95,80,52,14,ES_AUTOHSCROLL
LTEXT           "d1, ??",IDC_STATIC,14,102,78,8
EDITTEXT        IDC_EDIT_HALF_D1,95,100,52,14,ES_AUTOHSCROLL
LTEXT           "b ??????, ??",IDC_STATIC,14,122,78,8
EDITTEXT        IDC_EDIT_HALF_KEY_B,95,120,52,14,ES_AUTOHSCROLL
LTEXT           "d+t1, ??",IDC_STATIC,14,142,78,8
EDITTEXT        IDC_EDIT_HALF_DT1,95,140,52,14,ES_AUTOHSCROLL
LTEXT           "l2, ??",IDC_STATIC,220,22,70,8
EDITTEXT        IDC_EDIT_HALF_L2,295,20,52,14,ES_AUTOHSCROLL
LTEXT           "l3, ??",IDC_STATIC,220,42,70,8
EDITTEXT        IDC_EDIT_HALF_L3,295,40,52,14,ES_AUTOHSCROLL
LTEXT           "B ????, ??",IDC_STATIC,220,62,70,8
EDITTEXT        IDC_EDIT_HALF_FACE_B,295,60,52,14,ES_AUTOHSCROLL
LTEXT           "B1, ??",IDC_STATIC,220,82,70,8
EDITTEXT        IDC_EDIT_HALF_FACE_B1,295,80,52,14,ES_AUTOHSCROLL
LTEXT           "r, ??",IDC_STATIC,220,102,70,8
EDITTEXT        IDC_EDIT_HALF_R,295,100,52,14,ES_AUTOHSCROLL
LTEXT           "?????, ??.",IDC_STATIC,220,122,70,8
EDITTEXT        IDC_EDIT_HALF_LUGS,295,120,52,14,ES_AUTOHSCROLL
LTEXT           "????. ?",IDC_STATIC,220,142,70,8
EDITTEXT        IDC_EDIT_HALF_TABLEID,295,140,52,14,ES_AUTOHSCROLL | ES_READONLY
LTEXT           "L1 ? ????? ?????????; ????? ? ???? ?? ????? ????? ?????????; d ???? ?????? ??? ???????.",IDC_STATIC,14,168,390,18
END
IDD_SPIDER_PARAMS_DLG DIALOGEX 0, 0, 320, 248
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "????????? ?????????"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
DEFPUSHBUTTON   "??",IDOK,209,227,50,14
PUSHBUTTON      "??????",IDCANCEL,263,227,50,14
PUSHBUTTON      "????????? ?? ????",IDC_BTN_SPIDER_FROM_GOST,14,227,110,14
LTEXT           "D ??????., ??",IDC_STATIC,14,22,95,8
EDITTEXT        IDC_EDIT_SPIDER_OUTER,115,20,56,14,ES_AUTOHSCROLL
LTEXT           "d ?????., ??",IDC_STATIC,14,44,95,8
EDITTEXT        IDC_EDIT_SPIDER_INNER,115,42,56,14,ES_AUTOHSCROLL
LTEXT           "H ???????",IDC_STATIC,14,66,95,8
EDITTEXT        IDC_EDIT_SPIDER_THICKNESS,115,64,56,14,ES_AUTOHSCROLL
LTEXT           "B ???",IDC_STATIC,14,88,95,8
EDITTEXT        IDC_EDIT_SPIDER_LEG,115,86,56,14,ES_AUTOHSCROLL
LTEXT           "????? ?????",IDC_STATIC,14,110,95,8
EDITTEXT        IDC_EDIT_SPIDER_RAYS,115,108,56,14,ES_AUTOHSCROLL
LTEXT           "r ??????.",IDC_STATIC,14,132,95,8
EDITTEXT        IDC_EDIT_SPIDER_FILLET,115,130,56,14,ES_AUTOHSCROLL
LTEXT           "m ????? ??",IDC_STATIC,14,154,95,8
EDITTEXT        IDC_EDIT_SPIDER_MASS,115,152,56,14,ES_AUTOHSCROLL
LTEXT           "???.1 ? 4 ????, ???.2 ? 6 (?? ????).",IDC_STATIC,14,180,280,8
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
  BLOCK "041904B0"
  BEGIN
      VALUE "CompanyName", "TODO: <Company name>"
      VALUE "FileDescription", "CouplingAssembly1"
      VALUE "FileVersion", "1.0.0.1"
      VALUE "InternalName", "CouplingAssembly1.exe"
      VALUE "LegalCopyright", "TODO: (c) <Company name>.  ??? ????? ????????."
      VALUE "OriginalFilename", "CouplingAssembly1.exe"
      VALUE "ProductName", "TODO: <???????? ????????>"
      VALUE "ProductVersion", "1.0.0.1"
  END
END
BLOCK "VarFileInfo"
BEGIN
  VALUE "Translation", 0x419, 1200
END
END

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
IDD_ABOUTBOX, DIALOG
BEGIN
  LEFTMARGIN, 7
  RIGHTMARGIN, 163
  TOPMARGIN, 7
  BOTTOMMARGIN, 55
END
IDD_ASSEMBLY_PARAMS_DLG, DIALOG
BEGIN
  LEFTMARGIN, 7
  RIGHTMARGIN, 313
  TOPMARGIN, 7
  BOTTOMMARGIN, 241
END
IDD_HALFCOUPLING_PARAMS_DLG, DIALOG
BEGIN
  LEFTMARGIN, 7
  RIGHTMARGIN, 413
  TOPMARGIN, 7
  BOTTOMMARGIN, 311
END
IDD_SPIDER_PARAMS_DLG, DIALOG
BEGIN
  LEFTMARGIN, 7
  RIGHTMARGIN, 313
  TOPMARGIN, 7
  BOTTOMMARGIN, 241
END
END
#endif

IDD_ASSEMBLY_PARAMS_DLG AFX_DIALOG_LAYOUT
BEGIN
0
END
IDD_HALFCOUPLING_PARAMS_DLG AFX_DIALOG_LAYOUT
BEGIN
0
END
IDD_SPIDER_PARAMS_DLG AFX_DIALOG_LAYOUT
BEGIN
0
END

STRINGTABLE
BEGIN
IDP_OLE_INIT_FAILED     "?? ??????? ????????? ????????????? OLE.  ????????? ? ???, ??? ???????????? ?????????? ?????? ????????? OLE."
END
STRINGTABLE
BEGIN
IDR_MAINFRAME           "CouplingAssembly1\n\nCouplingAssembl\n\n\nCouplingAssembly1.Document\nCouplingAssembly1.Document"
END
STRINGTABLE
BEGIN
AFX_IDS_APP_TITLE       "CouplingAssembly1"
AFX_IDS_IDLEMESSAGE     "??????"
END
STRINGTABLE
BEGIN
ID_INDICATOR_EXT        "EXT"
ID_INDICATOR_CAPS       "CAP"
ID_INDICATOR_NUM        "NUM"
ID_INDICATOR_SCRL       "SCRL"
ID_INDICATOR_OVR        "OVR"
ID_INDICATOR_REC        "REC"
END
STRINGTABLE
BEGIN
ID_FILE_NEW             "???????? ?????? ?????????\n???????"
ID_FILE_OPEN            "???????? ????????????? ?????????\n???????"
ID_FILE_CLOSE           "???????? ????????? ?????????\n???????"
ID_FILE_SAVE            "?????????? ????????? ?????????\n?????????"
ID_FILE_SAVE_AS         "?????????? ????????? ????????? ??? ????? ??????\n????????? ???"
ID_FILE_PAGE_SETUP      "????????? ?????????? ??????\n????????? ????????"
ID_FILE_PRINT_SETUP     "????????? ???????? ? ?????????? ??????\n????????? ??????"
ID_FILE_PRINT           "?????? ????????? ?????????\n??????"
ID_FILE_PRINT_DIRECT    "?????? ????????? ????????? ? ?????????????? ??????? ??????????\n??????? ??????"
ID_FILE_PRINT_PREVIEW   "???????? ????????? ? ??????????????? ??????\n??????????????? ????????"
END
STRINGTABLE
BEGIN
ID_APP_ABOUT            "????? ???????? ? ?????????, ?? ?????? ? ????????? ??????\n? ?????????"
ID_APP_EXIT             "?????????? ?????? ?????????? ? ???????? ?? ?????????? ??????????\n?????"
END
STRINGTABLE
BEGIN
ID_FILE_MRU_FILE1       "???????? ??????? ?????????"
ID_FILE_MRU_FILE2       "???????? ??????? ?????????"
ID_FILE_MRU_FILE3       "???????? ??????? ?????????"
ID_FILE_MRU_FILE4       "???????? ??????? ?????????"
ID_FILE_MRU_FILE5       "???????? ??????? ?????????"
ID_FILE_MRU_FILE6       "???????? ??????? ?????????"
ID_FILE_MRU_FILE7       "???????? ??????? ?????????"
ID_FILE_MRU_FILE8       "???????? ??????? ?????????"
ID_FILE_MRU_FILE9       "???????? ??????? ?????????"
ID_FILE_MRU_FILE10      "???????? ??????? ?????????"
ID_FILE_MRU_FILE11      "???????? ??????? ?????????"
ID_FILE_MRU_FILE12      "???????? ??????? ?????????"
ID_FILE_MRU_FILE13      "???????? ??????? ?????????"
ID_FILE_MRU_FILE14      "???????? ??????? ?????????"
ID_FILE_MRU_FILE15      "???????? ??????? ?????????"
ID_FILE_MRU_FILE16      "???????? ??????? ?????????"
END
STRINGTABLE
BEGIN
ID_NEXT_PANE            "??????? ? ????????? ??????? ????\n????????? ???????"
ID_PREV_PANE            "??????? ? ?????????? ??????? ????\n?????????? ???????"
END
STRINGTABLE
BEGIN
ID_WINDOW_SPLIT         "?????????? ????????? ???? ?? ???????\n?????????"
END
STRINGTABLE
BEGIN
ID_EDIT_CLEAR           "???????? ??????????? ?????????\n???????"
ID_EDIT_CLEAR_ALL       "?????? ???????? ??????????? ?????????\n??????? ???"
ID_EDIT_COPY            "??????????? ??????????? ????????? ? ????? ??????\n??????????"
ID_EDIT_CUT             "???????? ??????????? ????????? ? ????? ??????\n????????"
ID_EDIT_FIND            "????? ?????????? ??????\n?????"
ID_EDIT_PASTE           "??????? ??????????? ?????? ??????\n????????"
ID_EDIT_REPEAT          "?????????? ?????????? ????????\n?????????"
ID_EDIT_REPLACE         "?????? ????????? ?????? ?????? ???????\n????????"
ID_EDIT_SELECT_ALL      "????????? ????? ?????????\n???????? ???"
ID_EDIT_UNDO            "?????? ?????????? ????????\n????????"
ID_EDIT_REDO            "????????? ?????????? ?????????? ??????????? ????????\n???????"
END
STRINGTABLE
BEGIN
ID_VIEW_TOOLBAR         "??????????? ??? ??????? ?????? ????????????\n?????? ????????????"
ID_VIEW_STATUS_BAR      "???????? ??? ?????? ?????? ?????????\n ???????????? ?????? ?????????"
END
STRINGTABLE
BEGIN
AFX_IDS_SCSIZE          "????????? ??????? ????"
AFX_IDS_SCMOVE          "????????? ????????? ????"
AFX_IDS_SCMINIMIZE      "??????????? ???? ? ??????"
AFX_IDS_SCMAXIMIZE      "????????????? ???? ?? ??????? ???????"
AFX_IDS_SCNEXTWINDOW    "??????? ? ?????????? ???? ?????????"
AFX_IDS_SCPREVWINDOW    "??????? ? ??????????? ???? ?????????"
AFX_IDS_SCCLOSE         "???????? ????????? ???? ? ???????? ?? ?????????? ??????????"
END
STRINGTABLE
BEGIN
AFX_IDS_SCRESTORE       "?????????????? ???????? ???????? ????"
AFX_IDS_SCTASKLIST      "??????? ? ?????? ?????"
END
STRINGTABLE
BEGIN
AFX_IDS_PREVIEW_CLOSE   "????? ?? ?????? ???????????????? ?????????\n???????? ????????"
END
#endif

#ifndef APSTUDIO_INVOKED

#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE 25, 1
#include "res\CouplingAssembly1.rc2"
#include "l.RUS\afxres.rc"
#include "l.RUS\afxprint.rc"
#endif

#endif
